h1 {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}
h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
}
h5 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}
p {
  margin-bottom: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#Imagen1 {
  width: 270px;
  height: 10px auto;
  border-radius: 20px;
}
#Contenedor {
  background-color: burlywood;
  width: 65%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  padding: 51px;
  background-color: aliceblue;
}
#Contenedor2 {
  width: 100px;
  float: left;
  padding: 133px;
  background-image: url(https://img.freepik.com/fotos-premium/sesion-fotos-disenador-grafico-forma-bandera-vertical-grafico-digital-complejo-diseno-grafico-creativo_655090-621450.jpg);
  /* Imagen de fondo */
  background-position: center;
  min-height: 271vh;
}
#Contenedor3 {
  width: 100px;
  float: right;
  padding: 133px;
  background-image: url(https://img.freepik.com/fotos-premium/abstracto-gotas-llama-brillante-iluminacion-electrica-ia-generativa_1038396-44.jpg);
  /* Imagen de fondo */
  background-position: center;
  min-height: 271vh;
}
iframe {
  display: block;
  margin: 20px auto;
}
img {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 300px;
}
.Cuadro {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;
  width: 80%;
}
