* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}
h1 h1,
h2 h1,
h3 h1,
h4 h1,
h5 h1 {
  margin-top: 40px;
}
h1 h3,
h2 h3,
h3 h3,
h4 h3,
h5 h3,
h1 h4,
h2 h4,
h3 h4,
h4 h4,
h5 h4 {
  font-size: 2em;
  margin-top: 30px;
}
p {
  margin-bottom: 20px;
}
#Contenedor {
  background-color: aliceblue;
  width: 65%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  padding: 51px;
  border-radius: 20px;
}
#Contenedor a {
  color: darkblue;
  text-decoration: none;
}
#Contenedor a:hover {
  text-decoration: underline;
}
#Contenedor2,
#Contenedor3 {
  width: 100px;
  float: left;
  padding: 133px;
  min-height: 271vh;
}
#Contenedor2:nth-child(2),
#Contenedor3:nth-child(2) {
  float: right;
}
#Contenedor2 {
  background-image: url('https://img.freepik.com/fotos-premium/sesion-fotos-disenador-grafico-forma-bandera-vertical-grafico-digital-complejo-diseno-grafico-creativo_655090-621450.jpg');
  background-position: center;
}
#Contenedor3 {
  background-image: url('https://img.freepik.com/fotos-premium/abstracto-gotas-llama-brillante-iluminacion-electrica-ia-generativa_1038396-44.jpg');
  background-position: center;
}
#Imagen1 {
  width: 270px;
  height: auto;
  border-radius: 20px;
}
.Cuadro {
  background-color: antiquewhite;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
}
.Cuadro h3 {
  color: burlywood;
}
.Cuadro p {
  font-size: 1em;
  line-height: 1.4em;
}
iframe {
  display: block;
  margin: 20px auto;
}
img {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
